.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignwide, .alignfull{
  width: 100vw;
  max-width: initial;
  margin: 0 0 0 50%;
  transform: translateX(-50%);
}
.alignwide{
  max-width: $container-large-desktop;
}

.aligncenter, .aligncenter > iframe{
  display: block;
  margin: 0 auto;
}

.alignfull, .alignwide{
  img {
    display: block;
    margin: 0 auto;
  }
}

.fll{
  float: left;
}

.flr{
  float: right;
}

.half{
  float: left;
  width: 50%;
  @media all and (max-width: $screen-sm) {
    width: 100%;
  }
}

.db{
  display: block;
}

.df{
  display: flex;
}

.jcsp{
  justify-content: space-between;
}

.aic{
  align-items: center;
}

.dib{
  display: inline-block;
}

.pr{
  position: relative;
}

.centered{
  margin: 0 auto;
}

.centered-v-h{
  position: absolute;  top: 50%;  left:50%;
  @include transform(translate(-50%,-50%));
}

.centered-v{
  position: absolute;  top: 50%;  left:0;
  @include transform(translate(0,-50%));
}


.bcc{
  background-size: cover; background-position: center; background-repeat: no-repeat;
}

.tac{
  text-align: center;
}

.tal{
  text-align: left;
}

.p0{
  padding: 0 !important;
}

.ovh{
  overflow: hidden;
}

.obj-fit{
  object-fit: cover;
  height: 100%;
  font-family: 'object-fit: cover;';
}

.rodller-lock{
  overflow: hidden !important;
}

.paralax-image{
  min-height: 400px;
  background-color: transparent !important;
  .rodller-container-image-wrap img{
    display: none;
  }
}

/*customizer css*/

.green-container {
	background: linear-gradient(180deg, #37CE31 0%, #37AB30 100%);
}
.testimonials {
	box-shadow: 0px 4px 15px rgba(190, 187, 208, 0.5);
	border-radius: 10px;
	position: relative;
	&:before {
		content: "\f347";
		font-family: 'Ionicons';
		color: #37AB30;
		font-size: 55px;
		position: absolute;
		right: 15px;
		top: -30px;
	}
}
.mt-0 {
	margin-top: 0 !important;
}
.mt-2 {
	margin-top: 2rem !important;
}
.mt-5 {
	margin-top: 5rem !important;
}
.ma-0 {
	margin: 0 !important;
}
.mb-0 {
	margin-bottom: 0 !important;
}
.pt-0 {
	padding-top: 0 !important;
}
.pa-0 {
	padding: 0 !important;
}
.pb-0 {
	padding-bottom: 0 !important;
}
#rodller-primary {
	margin-bottom: 0 !important;
}
.rodller-header-logo {
	max-width: 150px;
}
.green-box {
	margin-left: 0 !important;
	padding-bottom: 50px !important;
}
.wp-block-gallery {
	&.has-nested-images {
		figure {
			&.wp-block-image {
				img {
					width: 70%;
					height: 100px;
					object-fit: contain;
				}
			}
		}
	}
}
.pricing-top {
	border-radius: 10px 10px 0px 0px;
}
.pricing-bottom {
	border-radius: 0px 0px 10px 10px;
	margin-top: -28px;
}
.rodller-button-outline {
	color: #37CE31 !important;
	border-color: #37CE31!important;
}
.rodller-button {
	&:not(.rodller-button-outline) {
		background-color: #37CE31 !important;
		color: white;
		border: none;
	}
}
#menu-footer-menu {
	display: -webkit-inline-box;
}
#rodller-main-footer {
	padding: 0 !important;
}
#menu-item-167, #menu-item-168, #menu-item-169, #menu-item-170, #menu-item-171, #menu-item-172, #menu-item-173, #menu-item-174, #menu-item-175 {
	margin-right: 12px;
}
#block-8, #nav_menu-3 {
	margin: 0 !important;
}
.wp-block-buttons {
	& > .wp-block-button {
		a {
			text-decoration: none;
		}
	}
}
.list-item {
	display: flex;
	align-items: center;
	gap: 15px;
	font-size: 18px;
	font-weight: 800;
	margin-bottom: 30px;
}
.icon-bg {
	background: #fff;
	min-width: 60px;
	height: 60px;
	display: inline-block;
	line-height: 60px;
	box-shadow: 0px 4px 15px rgba(190, 187, 208, .25);
	border-radius: 50%;
	text-align: center;
	font-size: 25px;
}
.author-name {
	font-size: 18px;
	line-height: 25px;
	font-weight: 800;
}
.author-com {
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	margin-bottom: 10px;
}
ul {
	&.copyright {
		a {
			color: #27292E;
		}
	}
	&.pricing-featires {
		padding: 0;
		list-style: none;
		margin-left: 0 !important;
	}
}
p {
	&.about-quote {
		font-size: 24px;
		line-height: 48px;
		font-style: italic;
		font-weight: 400;
		letter-spacing: .17px;
	}
	&.founder-name {
		&:after {
			content: "";
			width: 40px;
			height: 2px;
			background: #27292E;
			display: block;
			top: 8px;
			position: relative;
		}
	}
	&.dash-heading {
		&:before {
			content: "";
			display: inline-block;
			width: 40px;
			height: 2px;
			background: #27292E;
			position: relative;
			top: -5px;
			margin-right: 20px;
		}
	}
}
.pa-child-0 {
	.wp-block-media-text__content {
		padding-right: 0;
	}
}
.vcenteralign {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 414px;
	padding-bottom: 0 !important;
}
.pricing-table-top {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding: 25px 40px !important;
	.price {
		font-size: 38px;
		line-height: 52px;
		font-weight: 600;
	}
}
.pricing-table-middle {
	padding: 35px 40px !important;
	min-height: 438px;
}
.pricing-featires {
	li {
		display: flex;
		align-items: center;
		font-weight: 600;
		margin-bottom: 12px;
		&:before {
			content: "\f120";
			font-family: Ionicons;
			color: #37CE31;
			font-size: 23px;
			margin-right: 12px;
		}
	}
}
.pricing-table-footer {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.haligncenter {
	justify-content: center;
}
.contactform {
	.row {
		align-items: center;
	}
	textarea {
		height: 83px;
	}
}
.contactform input[type=text], .contactform input[type=email], .contactform textarea {
	border: 1px solid #37AB30;
	box-sizing: border-box;
	border-radius: 6px;
}
.submitbtn {
	width: 170px;
	font-size: 17px;
	height: 50px;
}
.rodller-block-accordion {
	.rodller-accordion-title {
		&:after {
			content: "\f218";
			position: absolute;
			right: 0;
			width: auto;
			height: auto;
			margin-top: 0;
			border-left: none;
			border-right: none;
			border-top: none;
			transition: all .4s ease-in-out;
			font-family: 'Ionicons';
			font-size: 25px;
			color: #37CE31;
			top: auto;
		}
	}
	details[open] {
		.rodller-accordion-title {
			&:after {
				transform: rotate(45deg);
				top: 0;
			}
		}
	}
}
.faqsection {
	.wp-block-rodller-rodller-accordion {
		&.rodller-block-accordion {
			details {
				background: #fff;
				box-shadow: 0px 4px 15px rgba(190, 187, 208, .50);
				border-radius: 8px;
				padding: 30px 40px;
				margin-bottom: 30px;
			}
			details[open] {
				background: #EBFAEA;
				.rodller-accordion-title {
					strong {
						&:after {
							content: "";
							width: 40px;
							height: 1px;
							display: block;
							background: #27292E;
							position: relative;
							top: 15px;
						}
					}
				}
			}
		}
	}
	.rodller-block-accordion {
		.rodller-accordion-title {
			position: relative;
			padding: 0;
			font-size: 18px;
			line-height: 28px;
			font-weight: 600;
			color: #27292E;
		}
		.rodller-accordion-text {
			margin-top: 30px;
			opacity: 50%;
		}
	}
}