.screen-container {
	img {
		max-width: 140px;
		margin-left: 25px;
	}
}
.safari {
	.screen-container {
		& > img {
			margin-left: 13px;
		}
	}
}
.pl-0 {
	padding-left: 0;
}
.pr-0 {
	padding-right: 0;
}
.has-text-align-center {
	justify-content: center;
}
.slides_container {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	.slide {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transition: opacity 1s ease, visibility 0s ease 1s;
		&.active {
			visibility: visible;
			opacity: 1;
			transition: opacity 1s ease;
		}
	}
}
.mfp-wrap {
	z-index: 99999 !important;
}
.mfp-bg {
	z-index: 99998 !important;
}
#rodller-responsive-navigation {
	ul {
		li {
			a {
				font-size: 14px;
				font-weight: 800;
				color: #27292E;
			}
		}
	}
}
.author-pos {
	font-weight: 600;
	opacity: 60%;
}
.pa-child-0 {
	.wp-block-media-text__content {
		padding-right: 0;
		padding-left: 15px !important;
	}
}
.visible-md {
	display: none !important;
}
.peng-button-outline {
	margin: 30px auto 10px;
	a {
		color: #37CE31 !important;
		padding: 12px;
		border: 1.5px solid #37CE31;
		box-sizing: border-box;
		border-radius: 8px;
		justify-content: center !important;
		&:hover {
			color: #37AB30 !important;
			border: 1.5px solid #37AB30;
		}
	}
}
.peng-button-solid {
	a {
		background-color: #37CE31;
		color: #fff !important;
		justify-content: center !important;
		padding: 12px;
		border-radius: 8px;
	}
}
.peng-button-solid a:hover, .submitbtn:hover, #rodller-main-header .rodller-button:not(.rodller-button-outline):hover {
	background-color: #37AB30 !important;
	border: none;
}
.faqsection {
	.rodller-block-accordion {
		.rodller-accordion-title {
			&:hover {
				&:after {
					color: #37AB30 !important;
				}
			}
		}
	}
}
p {
	&.about-quote {
		font-size: 17px;
		line-height: 1.7;
		opacity: 60%;
	}
}
.icon-eye {
	&:before {
		font-size: 15px;
		display: flex;
		justify-content: center;
	}
}
.opacity-90 {
	opacity: 90% !important;
}
.opacity-80 {
	opacity: 80% !important;
}
.proplan {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.pricing-featires {
	margin-bottom: 0;
	li {
		&:before {
			font-size: 20px;
			margin-right: 8px;
		}
	}
}
.pricing-table-middle {
	padding: 10px 30px !important;
	min-height: 342px;
}
.pricing-table-top {
	padding: 10px 30px !important;
}
::placeholder {
	color: #27292E;
	opacity: 50%;
}
:-ms-input-placeholder {
	color: #27292E;
}
::-ms-input-placeholder {
	color: #27292E;
}
.padding-20 {
	& > * {
		padding: 20px;
	}
}
.rodller-container-image {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

@media (max-width: 992px) {
	.visible-md {
		display: block !important;
	}
	.hidden-md {
		display: none;
	}
	.safari {
		.screen-container {
			>img {
				margin-left: 8px;
			}
		}
	}
}
@media (max-width: 782px) {
	#menu-footer-menu {
		display: flex;
		flex-wrap: wrap;
	}
	.screen-container {
		img {
			max-width: 75px;
			margin-left: 15px;
		}
	}
	.testimonials {
		margin-bottom: 32px;
		padding-bottom: 20px !important;
	}
	.marvel-device {
		.screen {
			height: 355px;
		}
	}
	.home-banner-heading {
		font-size: 42px !important;
	}
	ul.copyright {
		display: block;
		text-align: left;
	}
	.wp-block-media-text {
		.wp-block-media-text__content {
			padding: 0 15px;
		}
	}
	.rodller-entry-content {
		.wp-block-column {
			padding: 0 15px;
		}
	}
	.resp-heading {
		font-size: 30px !important;
		font-weight: 900;
	}
	.lightext {
		font-size: 12px;
		line-height: 17px;
	}
	.pricing-table-middle {
		min-height: auto !important;
	}
}
