@font-face {
  font-family: 'pengIcons';
  src:  url("../fonts/pengIcons.eot?cxl3sk");
  src:  url('../fonts/pengIcons.eot?cxl3sk#iefix') format('embedded-opentype'),
    url('../fonts/pengIcons.ttf?cxl3sk') format('truetype'),
    url('../fonts/pengIcons.woff?cxl3sk') format('woff'),
    url('../fonts/pengIcons.svg?cxl3sk#pengIcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pengIcons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e909";
  color: #fff;
}
.icon-quote:before {
  content: "\e90a";
  color: #37ab30;
}
.icon-chart:before {
  content: "\e906";
  color: #37ce31;
}
.icon-eye:before {
  content: "\e907";
  color: #37ce31;
}
.icon-rocket:before {
  content: "\e908";
  color: #37ce31;
}
.icon-dollar:before {
  content: "\e900";
  color: #37ce31;
}
.icon-hidden:before {
  content: "\e901";
  color: #37ce31;
}
.icon-secure:before {
  content: "\e902";
  color: #37ce31;
}
.icon-card:before {
  content: "\e903";
  color: #37ce31;
}
.icon-qrcode:before {
  content: "\e904";
  color: #37ce31;
}
.icon-download:before {
  content: "\e905";
  color: #37ce31;
}